{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Search Results for "{{ query }}"</title>
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>
<body>
    <h1>Search Results for "{{ query }}"</h1>
    <a href="/">Go back</a>
    <div class="trainer-list">
        {% if trainers %}
            {% for trainer in trainers %}
                <div class="card">
                    <img src="{{ trainer.profile_image.url }}" alt="{{ trainer.name }}">
                    <h2>{{ trainer.name }}</h2>
                    <p>{{ trainer.yoga_type }}</p>
                    <a href="/trainer/{{ trainer.id }}/">View Profile</a>
                </div>
            {% endfor %}
        {% else %}
            <p>No trainers found.</p>
        {% endif %}
    </div>
</body>
</html>