{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="auth-box">
  <h3 class="text-center mb-4">Create Your YogConnect Account</h3>

<form method="post" novalidate>
  {% csrf_token %}
  <div class="mb-3">
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.username.errors }}
  </div>

  <div class="mb-3">
    {{ form.email.label_tag }}
    {{ form.email }}
    {{ form.email.errors }}
  </div>

  <div class="mb-3">
    {{ form.password1.label_tag }}
    {{ form.password1 }}
    {{ form.password1.errors }}
  </div>

  <div class="mb-3">
    {{ form.password2.label_tag }}
    {{ form.password2 }}
    {{ form.password2.errors }}
  </div>

  <button type="submit" class="btn btn-primary w-100">Sign Up</button>
</form>


  <div class="mt-4 text-center">
    Already have an account? <a href="{% url 'login' %}">Log in</a>
  </div>
</div>
{% endblock %}
